* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	font-size: 16px;
	outline: none;
}

input,
button {
	border: 0;
	padding: 10px;
}

.form-group-lg {
	margin-bottom: 15px;
}

.tc {
	height: 200px;
	overflow-y: auto;
}

#checkbox {
	padding: 20px 0px;
	outline: none;
	width: 100%;
	resize: none;
}

.logo-size {
	height: 80px;
	width: 200px;
}

/* index.html style */
/* body.masthead {
	position: relative;
	text-align: left;
	color: white;
	background-image: url("./img/bg-vertical.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} */
body {
	position: relative;
}

.img-responsive {
	position: relative;
}
@media (min-width: 350px) {
	.btn-xl {
		z-index: 1;
		position: absolute;
		color: #603b1a;
		font-size: 15px;
		font-weight: 700;
		padding: 20px 25px;
		margin-top: 180px;
		border-radius: 3px;
		border-width: 4px;
		background-color: #fbd457;
		border-color: #603b1a;
		font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
	}
   
}
@media (max-width: 400px) {
	.btn-xl {
		z-index: 1;
		position: absolute;
		color: #603b1a;
		font-size: 15px;
		font-weight: 700;
		padding: 20px 25px;
		margin-top: 110px;
		border-radius: 3px;
		border-width: 4px;
		background-color: #fbd457;
		border-color: #603b1a;
		font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
	}
   
}
.btn-xl {
	z-index: 1;
	position: absolute;
	color: #603b1a;
	font-size: 15px;
	font-weight: 700;
	padding: 20px 25px;
	border-radius: 3px;
	border-width: 4px;
	background-color: #fbd457;
	border-color: #603b1a;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	/* body.masthead {
		position: relative;
		text-align: left;
		color: white;
		background-image: url("./img/header-bg.jpg");
		background-repeat: no-repeat;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	} */

	/* .btn-xl {
		position: absolute;
		color: #603b1a;
		font-size: 18px;
		font-weight: 700;
		padding: 20px 40px;
		margin: 249px 0 188px 0;
		border-radius: 3px;
		border-width: 4px;
		background-color: #fbd457;
		border-color: #603b1a;
		font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
	} */
}

.form_error span {
	font-size: 1.1em;
	color: #D83D5A;
}

.form_error input {
	border: 1px solid #D83D5A;
}


/*Styling in case no errors on form*/

.form_success span {
	font-size: 1.1em;
	color: green;
}

.form_success input {
	border: 1px solid green;
}

#error_msg {
	color: red;
	text-align: center;
	margin: 10px auto;
}


/* index.html ends */